.navbar-brand {
  font-size: 50px;
}
body {
  background-color: rgb(119, 189, 255);
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 30px;
  color: black;
}
a {
  color: rgba(243, 6, 6, 0.863);
}











@media screen and (max-width: 980px) {
    image-rendering: 980px;
  
  }
  @media screen and (max-width: 768px) {
    image-rendering: 768px;
    
  }
  @media screen and (max-width: 640px) {
     #masthead { 
      display: static;
      float: none;
      text-align: center;
    }
    .container {
      max-width: 640px;
      float: none;
    } 
    image-rendering: 640px;
  }